@model IEnumerable<ClientGUI.Models.SentimentModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <!--
    <form method="post" action="Home/Create">
        Sentence:<br />
        <input type="text" name="Sentence" value="" /><br />
        <input type="submit" value="Classify Text" class="submit" />
    </form>
    -->
    <!--
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <div class="form-group">
            <label for="Sentence" class="control-label">Sentence</label>
            <input for="Sentence" class="form-control" />
        </div>
        
        <br />

        <div class="form-group">
            <input type="submit" value="Classify Text" class="btn btn-primary" />
        </div>
    </form>
    -->
    <a asp-action="Create">Classify Text</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextSearched)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentimentResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentageScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextSearched)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentimentResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageScore)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
