<!--
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//	Solution/Project:  ClientGUI - Sentiment Analysis Project
//	File Name:         Index.cshtml
//	Description:       Main page of the application - displays list of all sentiments in the DB.
//	Course:            CSCI-5400 - Software Production
//	Author:            Katie Wilson, wilsonkl4@etsu.edu, East Tennessee State University
//	Last Modified:     02/28/23
//
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->

@model IEnumerable<ClientGUI.Models.SentimentModel>

@{
    ViewData["Title"] = "Sentiment Results";
}

<h1>List of Sentiment Results</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Classify Text</a>
</p>
@if (Model == null)
{
    <p>There are currently no sentiment results in the database. Please select the "Classify Text" option above.</p>
}
else
{
        <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextSearched)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentimentResult)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PercentageScore)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextSearched)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentimentResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentageScore)
                </td>
                <!--
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
                -->
            </tr>
    }
        </tbody>
    </table>

}